body {
  background-color: rgb(26, 17, 17);
}
div {
  display: inline;
}

.logo img {
  width: 150px;
  height: 150px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
