@import "application";

.channel-page-container {
  position: relative;
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.channel-container {
  margin: 0;
  position: absolute;
  background-color: black;
  height: calc(100% - 56px);
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.channel-content {
  height: calc(100% - 148px);
}

.channel-header {
  height: 148px;
  background-color: #181818;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.channel-label {
  width: 80%;
  display: flex;
}

.channel-owner-detail {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.channel-username {
  line-height: 80px;
  font-size: 24px;
}

.channel-label .default-avatar {
  width: 80px;
  height: 80px;
  font-size: 40px;
}

.channel-content-selectors {
  width: 80%;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-family: "Roboto", "Noto", sans-serif;
}

.channel-content-selector-video {
  box-sizing: border-box;
  line-height: 47px;
  padding: 0 30px;
  width: fit-content;
  border-bottom: 3px solid gray;
  cursor: pointer;
}
.channel-videos-container {
  box-sizing: border-box;

  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.channel-videos {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 192px);
  grid-template-rows: repeat(2, 210px);
  height: 100%;
  gap: 10px;
}

.channel-videos .video-uploader,
.channel-videos .avatar {
  display: none;
}

.channel-owner-detail .default-avatar {
  cursor: default;
}

.channel-container .video-detail,
.channel-container .info {
  width: 100%;
}

.channel-container .video-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.channel-container .video-index-item-container {
  position: relative;
}

.more-vert {
  width: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
  z-index: 3;
  border-radius: 50%;
  transition: background-color 0.25s ease;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-vert:active {
  background-color: gray;
}

.expanded-menu {
  height: 52px;
  width: 216px;
  background-color: $nav-gray;
  position: absolute;
  z-index: 4;
  right: -195px;
  bottom: -35px;
  padding: 8px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.delete-video {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-video:hover {
  background-color: #4f4f4f;
}

.delete-video .material-icons {
  color: #909090;
}
