.reply {
  margin-bottom: 0;
}

.reply-comment-button,
.reply-cancel-button {
  outline: none;
  cursor: pointer;
  border-radius: 2.5px;
  margin: 10px 10px 0 10px;
  float: right;
  border-style: none;
}

.reply-comment-button {
  background-color: #606060;
  color: #181818;
  width: 101.53px;
  height: 36px;
}
.reply-cancel-button {
  background-color: #181818;
  color: #a8a8a8;
  height: 36px;
  width: 85.08px;
}

.child-comment-container {
  min-height: 90px;
  position: relative;
  display: flex;
  gap: 1rem;
}

.reply-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reply-user-container {
  display: flex;
  gap: 6px;
}

.reply-user {
  font-size: 13px;
  color: #ffffff;
}

.reply-updated {
  font-size: 13px;
  color: #aaaaaa;
}

.reply-body {
  font-size: 14px;
  color: #ffffff;
}

.reply-comments-likes-container {
  display: flex;
  font-size: 12px;
  cursor: pointer;
  .material-icons-outlined,
  .material-icons {
    font-size: 16px;
  }

  .reply-button {
    font-size: 13px;
    padding: 8px 16px;
  }
}
