.comment-form {
  margin-top: 30px;
  margin-bottom: 100px;
}
.dummy-comment-field {
  cursor: text;
}

.comment-field {
  border: none;
  outline: none;
  border-bottom: 1px solid #73737345;
  line-height: 24px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  background-color: #181818;
  color: white;
  font: 14px "Noto Sans", sans-serif;
  resize: none;
  box-sizing: border-box;
}

.comment-field:focus {
  border-bottom: 1px solid black;
}

.comment-button,
.cancel-button {
  outline: none;
  cursor: pointer;
  border-radius: 2.5px;
  margin: 10px 10px 50px 10px;
  float: right;
  border-style: none;
}

.comment-button {
  background-color: #606060;
  color: #181818;
  width: 101.53px;
  height: 36px;
}

.cancel-button {
  background-color: #181818;
  color: #a8a8a8;
  height: 36px;
  width: 85.08px;
}

// .comment-field::after {
//   content: "";
//   position: relative;
//   left: 24px;
//   display: inline-block;
//   height: 1px;
//   width: 0px;
//   background: transparent;
//   transition: width 0.5s ease, background-color 0.5s ease;
// }
// .comment-field:focus::after {
//   width: 69.5%;
//   background: blue;
// }

.edit-comment-form {
  margin-bottom: 100px;
}

.editable {
  margin: 0 0 0 10px;
}
