.comment {
  margin-bottom: 16px;
  min-height: 110px;
  position: relative;
  display: flex;
  gap: 1rem;

  .more-vert {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.comment-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-info {
  display: flex;
  gap: 6px;
}
.comment-user {
  font-size: 13px;
  color: #ffffff;
}

.updated {
  font-size: 13px;
  color: #aaaaaa;
}

.comment-body {
  font-size: 14px;
  color: #ffffff;
}

.likes-reply {
  display: flex;
  font-size: 12px;
  .material-icons-outlined {
    font-size: 16px;
  }

  .reply-button {
    font-size: 13px;
    padding: 8px 16px;
  }
}

.view-replies {
  color: #3ea6ff;
  display: flex;
  align-items: center;
  font: 14px;
  gap: 5px;
  .material-icons {
    margin: 0 0 0 -8px;
  }
}
