.comment {
  margin-bottom: 24px;
}
.comment-info {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}
.comment-user {
  font-size: 13px;
  color: #ffffff;
}

.updated {
  font-size: 13px;
  color: #aaaaaa;
}

.comment-body {
  font-size: 14px;
  color: #ffffff;
}
