.comment {
  margin-bottom: 24px;
  position: relative;
  display: flex;

  .more-vert {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.comment-info {
  display: flex;
  gap: 6px;
  margin: 0 0 10px 10px;
}
.comment-user {
  font-size: 13px;
  color: #ffffff;
}

.updated {
  font-size: 13px;
  color: #aaaaaa;
}

.comment-body {
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #ffffff;
}
