@import "application";
.edit-video-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: black, $alpha: 0.6);
}

.edit-video-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #282828;
  border-radius: 7.5px;
  width: 960px;
  height: 860px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.edit-video-modal-title {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 20px "Roboto", "Noto", sans-serif;
  border-bottom: 1px solid rgba($color: #606060, $alpha: 0.5);
  padding: 0 24px;
  box-sizing: border-box;
}

.edit-video-modal .material-icons {
  color: #aaaaaa;
  cursor: pointer;
}

.edit-video-modal-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-video-details-container {
  width: 100%;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.details-header {
  font-family: "Noto", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  padding: 60px 48px 17px 48px;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 0.25px;
}

.edit-title {
  width: 536px;
  height: 81px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 12px 11px;
  box-sizing: border-box;
}
.edit-title .header {
  margin: 8px 0 3px;
  color: #aaaaaa;
  font: 12px "Roboto", "Noto", sans-serif;
}

.edit-description {
  width: 536px;
  height: 165px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 12px 11px;
  box-sizing: border-box;
}

.edit-description .header {
  margin: 8px 0 3px;
  color: #aaaaaa;
  font: 12px "Roboto", "Noto", sans-serif;
}

.edit-modal-video {
  width: 304px;
  height: 171px;
}

.edit-modal-video video {
  width: 100%;
  height: 100%;
}

.edit-video-container {
  padding-right: 48px;
}

.edit-modal-video-info {
  width: 304px;
  height: 102px;
  background-color: #1f1f1f;
}

.video-link {
  color: #aaaaaa;
  font: 12px "Noto", "Roboto", sans-serif;
  margin: 0 16px 0 12px;
  padding-top: 12px;
  box-sizing: border-box;
}

.filename-header {
  color: #aaaaaa;
  font: 12px "Noto", "Roboto", sans-serif;
  margin: 0 16px 0 12px;
  box-sizing: border-box;
}

.video-link a {
  color: #3ea6ff;
  padding: 0 0 5px;
  line-height: 29px;
}

.edit-file {
  background-color: #3ea6ff;
  color: black;
  padding: 5px;
  box-sizing: border-box;
  height: 36px;
  cursor: pointer;
  border-radius: 2.5px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 98px;
}

.edit-file span {
  width: 100%;
}

.filename {
  line-height: 29px;
  margin: 0 16px 0 12px;
  padding: 0 0 5px;
  font-size: 15px;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-title-content,
.edit-description-content {
  outline: none;
  margin-top: 10px;
  font: 15px "Roboto", "Noto Sans", sans-serif;
  color: white;
  background-color: #282828;
  border: none;
  resize: none;
  width: 100%;
}

.edit-title-content {
  height: 50%;
}

.edit-description-content {
  height: 80%;
}

.edit-title:focus-within .header,
.edit-description:focus-within .header {
  color: #3ea6ff;
}

.edit-title:focus-within,
.edit-description:focus-within {
  border-color: #3ea6ff;
}

.bottom-bar {
  border-top: 1px solid rgba($color: #606060, $alpha: 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.finish-editing {
  align-self: flex-end;
  margin: 15px 48px 15px 0;
  border: none;
  box-sizing: border-box;
  padding: 8px;
  background-color: #3ea6ff;
  border-radius: 2.5px;
  font-size: 15px;
  color: black;
  user-select: none;
  cursor: pointer;
}
