.like-container {
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.likes-dislikes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40px;
}

.likes-div,
.dislikes-div {
  color: #909090;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  .material-icons {
    font-size: 28px;
  }
}

.lowerbar {
  height: 2px;
  width: 141px;
  background-color: #606060;
}
.like-bar {
  height: 2px;
  width: 0%;
  background-color: #909090;
}
