.results-container {
  position: relative;
  left: 72px;
  top: 56px;
  padding: 16px 24px;
  width: 1592px;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.results-filters {
  height: 36px;
  width: 1096px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.result-container {
  width: 1096px;
  height: 202px;
  display: flex;
  gap: 10px;
}

.result-video {
  width: 360px;
  height: 202px;
}

.result-details {
  width: 720px;
  height: 202px;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 18px;
}

.result-title {
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.result-username {
  box-sizing: border-box;
  height: 50px;
  padding: 12px 0;
  width: fit-content;
}

.result-username:hover {
  color: white;
}

.views-date {
  display: flex;
  gap: 5px;
}
