@import "application";

.sidebar {
  margin: 0;
  position: fixed;
  left: 0px;
  top: 56px;
  height: 100vh;
  text-align: center;
  background-color: $nav-gray;
  z-index: 1;

  span {
    margin-bottom: 6px;
    width: 24px;
    color: inherit;
  }

  a {
    color: #909090;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    padding: 16px 0 14px;
  }

  a:hover {
    background-color: rgb(60, 56, 56);
  }

  .active {
    color: white;
  }
}

.sidebar-expanded {
  padding-top: 12px;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 56px;
  height: 100vh;
  text-align: center;
  background-color: $nav-gray;
  z-index: 1;

  a {
    display: flex;
    align-items: center;
    line-height: 40px;
    font-size: 14px;
    padding: 0 24px;
    box-sizing: border-box;
    gap: 30px;
    color: white;
    letter-spacing: 0.25px;
    span {
      color: #909090;
    }
  }

  a:hover {
    background-color: rgb(60, 56, 56);
  }

  .active span {
    color: white;
  }
}
