@import "application";

.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 48px 40px 36px;
  border: 1px solid $gray;
  border-radius: 7.5px;
  width: 448px;
  height: 603px;
  box-sizing: border-box;

  h1 {
    span {
      font-size: 22px;
    }
  }

  h2 {
    padding: 16px 0 0;
    font-size: 24px;
  }

  h3 {
    margin-top: 12px;
    padding: 8px 0 0;
    font-size: 16px;
  }

  .pass {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    input {
      width: 176px;
    }
  }

  > input:first-of-type {
    margin-top: 36px;
  }

  > input:nth-of-type(2) {
    margin-top: 24px;
  }

  p {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
    color: #bfbfbf;
    text-align: start;
  }

  .button {
    font-size: 14px;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      cursor: pointer;
      border: none;
      width: 80px;
      height: 36px;
      box-sizing: border-box;
      border-radius: 3.5px;
      padding: 0;
      background-color: $red;
    }
  }

  input {
    box-sizing: border-box;
    border-style: none;
    border: 1px solid $gray;
    width: 100%;
    height: 32px;
    font-size: 14px;
    padding: 7px 9px;
    background-color: $black;
    border-radius: 3.5px;
    color: white;
  }
}

.errors {
  padding-top: 5px;
  font-size: 12px;
  text-align: start;
  color: $blue;
  i {
    font-size: 16px;
  }
  .error {
    margin-left: 6px;
    color: $blue;
  }
}
