.trending-videos-container {
  margin: 30px 30px 0 90px;
  display: grid;
  gap: 10px;

  .video-index-item {
    display: flex;
    max-width: 862px;

    a {
      width: 246px;
    }
  }
}

.trending-header {
  margin: 86px 30px 0 90px;
  height: fit-content;
  font: 16px 600 "Roboto", "Arial", sans-serif;
}

@media screen and (max-width: 741px) {
  .trending-header {
    margin: 86px 30px 0 30px;
  }
  .trending-videos-container {
    margin: 30px 30px 0 30px;
    grid-template-columns: 1fr;
    gap: 30px;
    .avatar-container {
      display: block;
    }
    .video-index-item {
      flex-direction: column;
      a {
        width: 100%;
      }
    }
  }
}
