@import "application";

.video-index-container {
  margin-right: 30px;
  margin-top: 86px;
  box-sizing: border-box;
  background: #181818;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 19%);
  justify-content: center;
  justify-items: center;
  column-gap: 1%;
  grid-auto-rows: 15vw;
  row-gap: 1vw;
}

@media screen and (max-width: 1800px) {
  .video-index-container {
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: 16vw;
    row-gap: 4vw;
  }
}

// @media screen and (max-width: 1536px) {
//   .video-index-container {
//   }
// }

@media screen and (max-width: 1144px) {
  .video-index-container {
    grid-template-columns: repeat(3, 32%);
    grid-auto-rows: 20vw;
  }
}

@media screen and (max-width: 888px) {
  .video-index-container {
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: 30vw;
    row-gap: 5vw;
  }
}

@media screen and (max-width: 512px) {
  .video-index-container {
    grid-template-columns: repeat(1, 90%);
    grid-auto-rows: 40vw;
    row-gap: 15vw;
  }
}
