@import "application";

.video-show-page {
  min-height: 100vh;
  display: grid;
  margin-top: 81px;
  grid-template-areas:
    "video index"
    "comments index";
  grid-template-columns: 1fr 402px;
  grid-template-rows: 1fr 3fr;
  column-gap: 24px;
  margin-left: 25px;
}

.video-show-container {
  grid-area: video;
}

.main-video-container {
  width: 100%;
  position: relative;
  .video-primary-info {
    width: 100%;
    padding: 20px 0 8px;
    margin: 0;
    border-bottom: 1px solid rgba(55, 55, 55, 1);
    position: relative;
  }

  .title {
    line-height: 24px;
    font-size: 1.3rem;
  }

  .updated-at {
    line-height: 40px;
    font-size: 0.9rem;
    color: rgb(165, 167, 169);
    width: 200px;
    display: flex;
    gap: 5px;
  }

  .description-container {
    box-sizing: border-box;
    width: 100%;
    height: 184px;
    border-bottom: 1px solid rgba(55, 55, 55, 1);
    padding: 0 0 16px;
    margin-bottom: 24px;

    .description-header {
      margin: 0 0 12px;
      padding: 16px 0 0;
      font-size: 16px;
      display: flex;
      align-items: center;
      a {
        color: white;
      }
    }

    .description {
      line-height: 24px;
      margin-left: 68px;
    }
  }
  video {
    width: 100%;
    outline: none;
    object-fit: cover;
  }
}

.video-content {
  position: relative;
  top: -48px;
  height: 45px;
  width: 100%;

  z-index: 1;
  margin-bottom: -45px;
}

.first-half,
.second-half {
  height: 100%;
  display: inline-flex;
  align-items: center;
  button {
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: none;
    border-style: none;
    outline: none;
    cursor: pointer;
    span {
      font-size: 28px;
      color: white;
    }
  }
}

.second-half {
  float: right;
}

.scrub-bar {
  height: 3px;
  background: rgba(128, 128, 128, 0.304);
  width: 100%;
  position: relative;
  z-index: 2;
  bottom: 47px;
}

.loaded-scrub-bar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 3;
}

.watched-scrub-bar {
  height: 100%;
  position: absolute;
  background: $red;
  z-index: 4;
}

.scrub-bar:hover {
  cursor: pointer;
  height: 10px;
  transform: translateY(-30%);
  transition: 0.15s;
}

.hidden {
  opacity: 0;
}

@media (max-width: 1000px) {
  .video-show-page {
    min-height: 100vh;
    display: grid;
    margin-top: 81px;
    grid-template-areas:
      "video"
      "index"
      "comments";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

// @media screen and (max-width: 1680px) {
//   .video-show-page {
//     gap: 24px;
//   }

//   .main-video-container {
//     margin-left: 20px;
//     width: 1000px;
//     video {
//       width: 100%;
//     }
//   }

//   .video-content {
//     width: 100%;
//   }
// }
