@import "application";

.video-show-page {
  min-height: 100vh;
}
.video-show-container {
  height: 100vh;
}

.main-video-container {
  margin-top: 80px;
  margin-left: 5.5%;
  width: 66%;
  height: 100%;
  position: relative;

  .video-primary-info {
    width: 100%;
    padding: 20px 0 8px;
    margin: 0;
    border-bottom: 1px solid rgba(55, 55, 55, 1);
  }

  .title {
    line-height: 24px;
    font-size: 1.3rem;
  }

  .updated-at {
    line-height: 40px;
    font-size: 0.9rem;
    color: rgb(165, 167, 169);
  }

  .description-container {
    box-sizing: border-box;
    width: 100%;
    height: 184px;
    border-bottom: 1px solid rgba(55, 55, 55, 1);
    padding: 0 0 16px;
    margin-bottom: 24px;

    .description-header {
      margin: 0 0 12px;
      padding: 16px 0 0;
      font-size: 16px;
      a {
        color: white;
      }
    }

    .description {
      line-height: 24px;
    }
  }
  video {
    width: 100%;
    max-height: 74%;
    outline: none;
  }
}

.video-content {
  position: relative;
  top: -48px;
  height: 45px;
  width: 100%;
  // background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-bottom: -45px;
}

.first-half,
.second-half {
  height: 100%;
  display: inline-flex;
  align-items: center;
  button {
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: none;
    border-style: none;
    outline: none;
    cursor: pointer;
    span {
      font-size: 28px;
      color: white;
    }
  }
}

.second-half {
  float: right;
}

.scrub-bar {
  height: 3px;
  background: rgba(128, 128, 128, 0.304);
  width: 100%;
  position: relative;
  z-index: 2;
  bottom: 47px;
}

.loaded-scrub-bar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 10%;
  z-index: 3;

  // bottom: 47px;
}

.watched-scrub-bar {
  height: 100%;
  position: absolute;
  background: $red;
  width: 10%;
  z-index: 4;
  bottom: 47px;
}

// .slider {
//   display: none;
//   position: absolute;
//   height: 14px;
//   width: 14px;
//   border-radius: 50%;
//   background: $red;
//   bottom: 40px;
// }

.scrub-bar:hover {
  cursor: pointer;
  height: 10px;
  transform: translateY(-30%);
  transition: 0.15s;
}

// .loaded-scrub-bar:hover,
// .watched-scrub-bar:hover,
// .scrub-bar:hover .slider {
// }

// .scrub {
//   appearance: none;
//   position: relative;
//   z-index: 2;
//   height: 5px;
//   width: 100%;
//   margin: 0;
//   cursor: pointer;
//   background: #d3d3d3;
//   outline: none;
//   opacity: 0.7;
// }

// .scrub::-webkit-slider-thumb {
//   appearance: none;
//   -webkit-appearance: none;
//   width: 12px;
//   height: 12px;
//   border-radius: 50%;
//   background: #4caf50;
//   cursor: pointer;
// }

.hidden {
  opacity: 0;
}
