@import "application";

.video-index-container {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 86%;
  background: $black;
  width: 96%;
  display: grid;
  grid-template-columns: repeat(4, 360px);
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(4, 305px);
  grid-gap: 2.5%;
}
