/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #303030;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

$blue: #4285f4;
$red: #ea4335;
$yellow: #fbbc05;
$green: #34a853;

span {
  font-family: Product Sans;

  display: inline-block;
  padding: 0.2px;
  text-align: center;

  &:nth-child(7n + 1) {
    color: $blue;
  }
  &:nth-child(7n + 2) {
    color: $red;
  }
  &:nth-child(7n + 3) {
    color: $yellow;
  }
  &:nth-child(7n + 4) {
    color: $blue;
  }
  &:nth-child(7n + 5) {
    color: $green;
  }
  &:nth-child(7n + 6) {
    color: $red;
  }
  &:nth-child(7n + 7) {
    color: $yellow;
  }
}
